.LeavePermission{
        display: flex;
            width: 100%;
            flex-direction: column;
            height: 100vh;
}
.leave-form{
    width: 400px;
}
.middle{
      display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.middle-mid{
    display: flex;
    flex-direction: column;
}
.middle-top h2{
    font-weight: 300;
}

.middle-mid input{
        border: 1px solid #1f1f1f29;
    padding: 10px;
    margin: 5px 0;
}
.middle-mid textarea{
            border: 1px solid #1f1f1f29;
    padding: 10px;
    margin: 5px 0;
}
.middle-below{
    width: 100%;
}
.middle-below button{
        height: 40px;
    cursor: pointer;
    width: 100%;
}