@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comfortaa:wght@500&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Libre+Baskerville&family=Montserrat:wght@700&family=Poppins:wght@300;400;500&family=Unbounded:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.ReactModal__Overlay--after-open {
  z-index: 1;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.803), rgba(0, 0, 0, 0.803)) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay {
  /* opacity: 0; */
  transition: opacity 100ms ease-in-out;
}